:root {
    /* clolor */
    --white-color: #ffff;
    --black-color: #030303;
    --grey-color: #888888;
    --grey-light-color: #ececec;
    --pink-color: #ffcdd2;
    --pink-dark-color: #cb9ca1;

    /* size */
    --padding: 12px;

    /* font size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
    }

    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    
    body {
        font-family: Roboto;
    }
    
    ul {
        list-style: none;
    }
    
    button,
    button:focus {
        border: none;
        cursor: pointer;
        outline: none;
        background-color: var(--white-color);
    }

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--pink-dark-color);
    color: var(--white-color);
} 

.logo {
    color: var(--white-color);
    font-size: var(--font-large);
    padding: var(--padding);
}

.menu {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    padding: var(--padding);
    gap: 30px;
}


.icons {
    color: var(--pink-color);
    font-size: var(--font-large);
    padding: var(--padding);
    gap: 30px;
}

/* main */
.tung {
    display: flex;
    justify-content: center;
    background-color: var(--grey-light-color);
    font-size: var(--font-small);
    padding: var(--padding);

}

.slideshow-container img {
    display: block;
    width: 100%;
    height: 500px;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
}
/* Hide the images by default */

.top-slideshow {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: var(--pink-color);
}

  /* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

  /* Number text (1/3 etc) */
.numbertext {
    color: var(--grey-color);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--pink-color);
}

  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}   

.middle .pagetitle .headline {
    display: flex;
    justify-content: center;
    background-color: var(--grey-light-color);
    padding: var(--padding);
    font-size: 50px;
    color: var(--pink-dark-color);
}

.middle .pagetitle .subline {
    display: flex;
    justify-content: center;
    background-color: var(--grey-light-color);
    font-size: 40px;
    color: var(--pink-dark-color);
}

.middle .pagetitle .Reservation {
    display: flex;
    justify-content: center;
    background-color: var(--grey-light-color);
    padding: var(--padding);
    font-size: var(--font-medium);
    color: var(--black-color);
}

.middle .pagetitle img {
    width: 100%;
    height: auto;
}

.bottom .service {
    display: flex;
    justify-content: center;
    background-color: var(--pink-dark-color);
    font-size: var(--font-small);
    padding: var(--padding);
}

.bottom .footer-legar {
    display: flex;
    justify-content: center;
    background-color: var(--pink-dark-color);
    font-size: var(--font-small)
}